{% extends 'Fixed/default_homepage.html' %}


{% block body_block %}

<div class="mt-3 mb-3 p-2">
  <!-- <div class="d-flex justify-content-center"> -->
    <form class="" action="" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-9 ml-5">
          <input type="text" id="search" name="search" onkeyup="filterEmployee()" placeholder="Enter name to search" class=" form-control ml-5">
        </div>
        <div class="col ml-5">
          <input type="submit" class="w-50 form-control btn btn-warning " value="Submit">
        </div>
      </div>
    </form>

    {% if employees != 0 %}
    <div class="d-flex justify-content-center m-5">
      <div class="w-75">
        <div class="card p-2">
          <form class="w-100" action="" method="post">
            {% csrf_token %}
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label for="name">Name </label>
                  <input type="text" name="name" placeholder="Name" class="form-control" value="{{ employee.name }}" readonly>
                </div>
                <div class="col ">
                  <label for="phone">Phone</label>
                  <input type="text" name="phone" placeholder="9876543210"  class="form-control" pattern="[0-9]{10}" value="{{ employee.phone }}" readonly>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="form-group col-6">
                <label for="salary">Salary Per Day</label>
                <input type="number" name="salary" class="form-control" value="{{ employee.salary }}" required>
              </div>
            </div>

            <div class="row p-3 justify-content-center">
              <input type="submit" value="Update" class="btn btn-success" name="update">
            </div>

          </form>

        </div>
      </div>
    </div>
    {% endif %}
</div>



{% endblock %}
