{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>C K Vegetables</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/login_styles.css' %}">
    <script src="{% static 'script/script.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class=" bg-light">
    <div class="">
      <div class="h1 text-center p-3" id="title">
        C K Vegetables
      </div>
    </div>
    <div class="container">
      <div class="h4 text-primary text-center mt-md-5 pt-md-3" id="header">
        Not Authorised User : {{ request.user }}
      </div>
      <div class="d-flex justify-content-center " width=50>
        <ul>
          <li>You are attempting to control the owner credantails.</li>
          <li>You are not authorised</li>
          <li>Please do the work given to you.</li>
        </ul>
      </div>
    </div>
  </body>
</html>
